<footer class="footer-area section-padding-100-0 bg-img gradient-background-overlay" style="background-image: url(/images/property2.jpg);">

    <div class="main-footer-area">
        <div class="container">
            <div class="row">

                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="footer-widget-area mb-100">

                        <div class="widget-title">
                            <h6>About Us</h6>
                        </div>
                        <img src="/images/about.jpg" alt="">
                       <!-- <div class="footer-logo my-4">
                            <img src="/images/logoed2.jpg" alt="">
                        </div>
                        <p>We Strictly recommend that every work done or being done by this company must be delivered in the highest quality standard specified by our client.</p>
                    -->
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="footer-widget-area mb-100">

                        <div class="widget-title">
                            <h6>Hours/Contact</h6>
                        </div>

                        <div class="weekly-office-hours">
                            <ul>
                                <li class="d-flex align-items-center justify-content-between"><span>Monday - Friday</span> <span>08 AM - 05 PM</span></li>
                            </ul>
                        </div>

                        <div class="address">
                            <h6><img src="/img/icons/phone-call.png" alt=""> <img src="/images/flag.png"><p>+234 8188728522</p>
                                <p>+234 8155735639</p> <p>+234 8068753880</p> <p>+234 7067077640</p>
                            </h6>
                            <h6><img src="/img/icons/envelope.png" alt=""> <a href="/cdn-cgi/l/email-protection" class="__cf_email__ ahref" data-cfemail="7a151c1c13191f3a0e1f170a161b0e1f54191517">iyaalami@gmail.com</a></h6>
                          <h6><img src="/img/icons/instagram.png" alt=""><a href="https://www.instagram.com/iya_alamiinvestments/" class="ahref">instagram</a></h6>
                          <h6><img src="/img/icons/twitter.png" alt=""><a href="https://twitter.com/IyaLtd" class="ahref">twitter</a></h6>
                      
                            <h6 class="saddy"><img src="/img/icons/location.png" alt="">C17 Efab mall, Area 11, Garki Abuja, Nigeria</h6>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="footer-widget-area mb-100">

                        <div class="widget-title">
                            <h6>Useful Links</h6>
                        </div>

                        <ul class="useful-links-nav d-flex align-items-center">
                            <li><a href="/app.js">Home</a></li>
                            <li><a href="/about">About us</a></li>
                            <li><a href="/projects">Projects</a></li>
                            <li><a href="listing/propertyListing">Properties</a></li>
                            <li><a href="/listing/property">Listings</a></li>
                            <li><a href="/listing/listgallery">Now Selling</a></li>
                            <li><a href="/contact">Contact</a></li>
                           <li><a href="#">FAQ</a></li>
                        </ul>

                    </div>
                </div>

                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="footer-widget-area mb-100">

                        <div class="widget-title">
                            <h6>Now Selling</h6>
                        </div>

                        <div class="featured-properties-slides owl-carousel">

                            <div class="single-featured-properties-slide">
                                <a href="#"><img src="/images/now.jpg" alt=""></a>
                            </div>

                            <div class="single-featured-properties-slide">
                                <a href="#"><img src="/images/now1.jpg" alt=""></a>
                            </div>

                            <div class="single-featured-properties-slide">
                                <a href="#"><img src="/images/now3.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4 col-sm-2 col-xl-2  offset-0" style="margin-top:-5rem!important;">
                    <div class="footer-logo my-4">
                        <img src="/images/logoed2.jpg" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-8 col-xl-8 offset-1" style="margin-top:-5rem!important;">
                             
                  <h2> <p class="pword" >We Strictly recommend that every work done or being done by this company must be delivered in the highest quality standard specified by our client.</p>
                    </h2>
                <div class="listings-content" style="margin-top:-5rem!important;">
                   
                    <ul class="listings-core-features d-flex align-items-center">
                        <li><i class="fa fa-check" aria-hidden="true"></i> Real Estate Investments</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i> Estate Developers</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i> Property Agents</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i> Consultats</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i> Contractors</li>
                        
                    </ul>
            
            </div>
                </div>
            </div>
          
        </div>
    </div>
   
    <div class="copywrite-text d-flex align-items-center justify-content-center">
        <p>
            Copyright &copy;
            <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
            <script type="43b42c80f91a1ac1ec227660-text/javascript">
                document.write(new Date().getFullYear());
            </script> All rights reserved | <a href="#" target="_blank">Khosen Services</a>

    </div>
</footer>