<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>

    <div id="preloader">
        <div class="south-load"></div>
    </div>

    <header>
        <%- include('./partials/header') %>
    </header>


    <section class="breadcumb-area bg-img" style="background-image: url(/images/aboutus.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h3 class="breadcumb-title">About us</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="about-content-wrapper section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="section-heading text-left wow fadeInUp" data-wow-delay="250ms">
                        <h2>Our Mission Statement</h2>
                        <p> Iya-alami Estates </p>
                    </div>
                    <div class="about-content">
                        
                        <img class="wow fadeInUp" data-wow-delay="350ms" src="/images/mission.jpg" alt="">
                        <p class="wow fadeInUp" data-wow-delay="450ms">To excel as a reliable company in the areas of Estate Investments , and consultants, Development, and General Suppliers to Government and private sectors. To constantly improve on the quality of our products and services, through
                            the use of up to date technology and also ensure an effective and efficient utilization of resources in order to achieve optimum results for the stakeholders

                        </p>
                    </div>
                </div>
                <div class="col-12 col-lg-4">

                </div>
            </div>
        </div>
    </section>


    <section class="call-to-action-area bg-fixed bg-overlay-black" style="background-image: url(/images/mission.jpg)">
        <div class="container h-100">
            <div class="row align-items-center h-100">
                <div class="col-12">
                    <div class="cta-content text-center">
                        <h2 class="wow fadeInUp" data-wow-delay="300ms">Our Vision</h2>
                        <h6 class="wow fadeInUp" data-wow-delay="400ms">Our vision is to be a world class company in our chosen area of operations.</h6>


                        <!-- <a href="#" class="btn south-btn mt-50 wow fadeInUp" data-wow-delay="500ms">Search</a>-->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="south-editor-area d-flex align-items-center">

        <div class="editor-content-area">

            <div class="section-heading wow fadeInUp" data-wow-delay="250ms">
                <img src="img/icons/prize.png" alt="">
                <h2>Work Policy</h2>
                <p></p>
            </div>
            <p class="wow fadeInUp" style="text-align: justify;" data-wow-delay="500ms">IYA-ALAMI INVESTMENTS NIG. LTD. Strictly recommend that every work done or being done by this company must be delivered in the highest quality standard specified by our client. To carry out this specified standard by our client, the technical
                personnel involved in such project should recognize, establish and must focus towards maintaining a Quality Assurance Program strictly specified within the company’s quality policy. It is a law in the company that personnel assigned to
                a particular work must always aim at producing a standard quality work to meet the requirements of the company’s quality manual. The responsibility for promoting and reviewing this Quality Assurance System is assigned to the company personnel.
                Furthermore, the Quality Assurance Manager is fully assigned to implement and process the company’s Quality Systems, instructing all the organizing and producing personnel in any scheduling programs
                <!--  <div class="address wow fadeInUp" data-wow-delay="750ms">
                 <h6><img src="img/icons/phone-call.png" alt=""> +45 677 8993000 223</h6>
                    <h6><img src="img/icons/envelope.png" alt=""> <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="b8d7deded1dbddf8ccddd5c8d4d9ccdd96dbd7d5">[email&#160;protected]</a></h6>
                </div>
                <div class="signature mt-50 wow fadeInUp" data-wow-delay="1000ms">
                    <img src="img/core-img/signature.png" alt="">
                </div>-->
        </div>

        <div class="editor-thumbnail">
            <img src="images/workpolicy.jpg" alt="">
        </div>
    </section>

    <section class="meet-the-team-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h2>Message from the CEO</h2>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">

                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-team-member mb-100 wow fadeInUp" data-wow-delay="250ms">

                        <div class="team-member-thumb">
                            <img src="images/Alhaji.jpeg" alt="">
                        </div>

                        <div class="team-member-info">
                            <div class="section-heading">
                                <img src="img/icons/prize.png" alt="">
                                <h2>Alhaji Kebiru J.</h2>
                                <p>MD/CEO</p>
                                <p>Iya-Alami Investments Nig. LTD</p>
                            </div>
                            <div class="address">
                                <h6><img src="img/icons/phone-call.png" alt="">   +234 8188728522</h6>
                                <h6><img src="img/icons/envelope.png" alt="">iyaalami@gmail.com

                                    <!--<a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="3d525b5b545e587d4958504d515c4958135e5250">[email&#160;protected]</a>-->
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-team-member mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <h2>About Us</h2>
                        <p style="text-align: justify;">IYA-ALAMI INVESTMENTS NIG. LTD.employs experienced builders, architects and structural engineers in this field, hence the high standards maintained in all its building projects. Building projects handled by IYA-ALAMI INVESTMENTS
                            NIG. LTD.includes but not limited to the following: Auditoriums, Multi-purpose Halls, Hotels and Resorts, Estates, Shopping Malls and Complexes, Civic Centers, other civil construction works handled by IYA-ALAMI INVESTMENTS
                            NIG. LTD are street roads surface and underground sewage disposal network systems, pilling projects, estate development, landscaping and horticultural designs etc.
                        </p>
                        
                    </div>
                </div>

               
            </div>
        </div>
    </section>

    <footer>

        <%- include('./partials/footer') %>
    </footer>
    <%- include('./partials/scripts') %>

</body>

</html>