<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head') %>
</head>
<body>

<div id="preloader">
<div class="south-load"></div>
</div>

<header class="header-area">

    <%- include('./partials/header') %>
</header>


<section class="breadcumb-area bg-img" style="background-image: url(/images/faq.png);">
<div class="container h-100">
<div class="row h-100 align-items-center">
<div class="col-12">
<div class="breadcumb-content">
<h3 class="breadcumb-title" style="background-color: transparent!important; color:blue!important; ">Frequently Asked Questions</h3>
</div>
</div>
</div>
</div>
</section>

<section class="south-contact-area section-padding-100">
<div class="container">
<div class="row">
<div class="col-12 ">
    
<div class="tm-section faq-area tm-padding-section">
    <div class="container">
        <div class="row mt-50-reverse">
            <div class="col-lg-6 mt-50">
                <!-- Accordion Wrapper -->
                <div id="tm-accordion1" class="tm-accordion">

                    
    <div class="panel single-accordion">
        <h6><a role="button" class="" aria-expanded="true" aria-controls="collapseOne" data-toggle="collapse" data-parent="#accordion"
             href="#collapseOne">Why am I still paying exorbitant rent in Abuja?
        <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
        <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
        </a></h6>
        <div id="collapseOne" class="accordion-content collapse show">
        <p>Iya_AlamiInvestments Nig limited, headed by our CEO Alhaji Kebiru Adejoh (MNIM)
             is offering you an opportunity to own a home at any of our beautiful locations within the F. C. T. at very affordable rates</p>
        </div>
        </div>
                    

                   
    <div class="panel single-accordion">
        <h6><a role="button" class="" aria-expanded="true" aria-controls="collapseOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            What document do I get after payment?
        <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
        <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
        </a></h6>
        <div id="collapseOne" class="accordion-content collapse show">
        <p>Receipt and an Offer Letter.</p>
        </div>
        </div>

             
            

                </div>
                <!--// Accordion Wrapper -->
            </div>

            <div class="col-lg-6 mt-50">
                <!-- Accordion Wrapper -->
                <div id="tm-accordion2" class="tm-accordion">


                    <div class="panel single-accordion">
                        <h6><a role="button" class="" aria-expanded="true" aria-controls="collapseOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            Will there be any change of management at anytime
                        <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
                        <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
                        </a></h6>
                        <div id="collapseOne" class="accordion-content collapse show">
                        <p>Iya-Alami Investment LTD. will continue to manage the properties</p>
                        </div>
                        </div>

                        <div class="panel single-accordion">
                            <h6><a role="button" class="" aria-expanded="true" aria-controls="collapseOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                Can any individual buy a property or do you have specifications?
                            <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
                            <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
                            </a></h6>
                            <div id="collapseOne" class="accordion-content collapse show">
                            <p>As long as you have money, make full payment and have your identification in order.</p>
                            </div>
                            </div>




                </div>
                <!--// Accordion Wrapper -->
            </div>
        </div>
    </div>
</div>
</div>
</div>
<div class="row">
<div class="col-12 col-lg-4">
<div class="content-sidebar">
  

</div>
</div>

<div class="col-12 col-lg-8">
<div class="contact-form">

</div>
</div>
</div>
</div>
</section>



<footer>

    <%- include('./partials/footer') %>
</footer>
<%- include('./partials/scripts') %>
</body>

</html>
