<!doctype html>
<html lang="en">

<head>

    <%- include('./partials/dashboardhead') %>
        <link href="/css/form.css" rel="stylesheet">
        <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/45fee5b6e1.js" crossorigin="anonymous"></script>
       <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
       -->

</head>

<body class="text-center container">
    <%- include('./partials/dashboardnav') %>

</div>
        <!--  <div class="col-md-8 col-lg-12 text-center">-->
        
        <div class="form-row col-md-8 col-lg-12 text-center">

            
            <div class="col-sm-4">
                <div class="card" style="background-image: url(/images/watermark.jpg);">
                <div class="card-body">
                    <h5 class="card-title">Iya-Alami Estates</h5>
                   <h5> <p class="card-text">Click the botton below to fill Now-Selling property details</p></h5>
                    <a href="/admin/details" class="btn btn-primary" style="background-color: blue!important;">Open Form</a>
                </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="background-image: url(/images/watermark.jpg);">
                <div class="card-body" style="background-image: url(/images/watermark.jpg);">
                    <h5 class="card-title">Iya-Alami Estates</h5>
                   <h5> <p class="card-text">Click the botton below to fill land property details</p></h5>
                    <a href="/admin/landForm" class="btn btn-primary" style="background-color: blue!important;">Open Form</a>
                </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="background-image: url(/images/watermark.jpg);">
                <div class="card-body">
                    <h5 class="card-title">Iya-Alami Estates</h5>
                   <h5> <p class="card-text">Click the botton below to fill project details(on-going or completed)</p></h5>
                    <a href="/admin/projectForm" class="btn btn-primary"style="background-color: blue!important;">Open Form</a>
                </div>
                </div>
            </div>
            
            <div class="col-sm-4"style="margin-top:2rem!important;  ">
                <div class="card" style="background-image: url(/images/watermark.jpg);">
                <div class="card-body">
                    <h5 class="card-title">Iya-Alami Estates</h5>
                    <h5><p class="card-text">Click to mark sold properties </p></h5>
                    <a href="/admin/sold" class="btn btn-primary"style="background-color: blue!important;">Sold</a>
                </div>
                </div>
            </div>
            <div class="col-sm-4" style="margin-top:2rem!important;">
                <div class="card" style="background-image: url(/images/watermark.jpg);">
                <div class="card-body">
                    <h5 class="card-title">Iya-Alami Estates</h5>
                    <h5><p class="card-text">Click to fill in new property types</p></h5>
                    <a href="/admin/propertyType" class="btn btn-primary"style="background-color: blue!important;">Property Types</a>
                </div>
                </div>
            </div>

            
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>

</html>